
<a-scene embedded arjs>
  <a-sky color="#ECECEC"></a-sky>
  <a-cylinder position="-.5 .5 -.8" color="grey" radius=".01" rotation="90 90 45"></a-cylinder>
  <a-cylinder position=".5 .5 -.8" color="grey" radius=".01" rotation="90 45 90"></a-cylinder>
  <a-sphere position="0 .5 0"  material="opacity: 1; color:grey;" radius=".5"></a-sphere>
  <a-sphere position="0.3 .8 0.4"  material="opacity: 1; color:black;" radius=".02"></a-sphere>
    <a-box position="0 0.5 0" material="opacity: 1; color:darkgoldenrod;"  width=".5" height="1" rotation="0 0 90"></a-box>
  <a-marker-camera preset="hiro"></a-marker-camera>
</a-scene>
